<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="<%= session[:csrf] %>">
    <title>Open HQ</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700,300,600,400' rel='stylesheet' type='text/css'>
    <%= stylesheet_tag 'application' %>
  </head>

  <body>
    <header class="main-header">
      <div class="container">
        <h1><img src="<%= asset_path "ohq-logo.png" %>" width="230" alt="Open HQ"></h1>
      </div>
    </header>

    <section class="main-content">
      <div class="container">
        <%= yield %>
      </div>
    </section>

    <footer class="page-footer">
      <div class="container">
        <ul>
          <li>&copy; Copyright 2015 Open HQ</li>
          <li><a href="https://github.com/openhq/openhq/blob/master/LICENSE">License</a></li>
          <li><a href="https://github.com/openhq/openhq">GitHub</a></li>
          <li>Built by <a href="https://alternatelabs.co">Alternate Labs</a> + <a href="http://colin-young.co.uk/">Colin Young</a></li>
        </ul>
      </div>
    </footer>

    <%= javascript_tag 'application' %>
  </body>
</html>
